.year {
    font-size: 1.7rem;
    text-align: center;
    background-color: rgba(190, 88, 41, 0.315);
    padding: 0.4%;

    margin-left: 1%;
    margin-right: 1%;
}

.pastYear {
    font-size: 1.3rem;
    text-align: center;
    
    margin-top: 0.4%;
}

.event {
    width: 80%;

    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.when {
    font-size: 2.5rem;
    font-weight: bold;
}

.pieceTitle {
    font-style: italic;
    font-size: 1.5rem;
}

.composer {
    font-weight: bold;
    font-size: 1.2rem;
}

.pieceInfo {
    width: 50%;
}

.pieceInfo p{
    margin: 10%;
}

.musicians p{
    width: 100%;
    line-height: 1.65;
}

.eventDivider {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 3%;
    margin-right: 3%;
}